.App p {
  color: black;
  font-size: 15px;
}

.centered-text {
  text-align: center;
  margin: 2vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 3vh;
}

.Login-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.doughnut-container {
  width: 80%;
  margin: 5% 10%;
}

.App-link {
  color: #61dafb;
}

.row {
  border: 1px solid black;
}

.col {
  border: 1px solid black;
}

.gauge-container {
  width: 60%;
  margin: 3% 20%;
}
